@using PLANEY.Models
@model ApiRequestModel

<div>
    <input type="text" id="originInput" placeholder="Origin">
    <input type="text" id="destinationInput" placeholder="Destination">
    <button id="submitBtn">Submit</button>
</div>

<div id="result"></div>

<script src="/site.js"></script>